# 数据库连接字符串（PostgreSQL）
DATABASE_URL=postgres://postgres:postgres@localhost:5432/{DB_NAME}

# Embedding
# EMBEDDING_MODEL=text-embedding-v4
# EMBEDDING_BASE_URL=
# EMBEDDING_API_KEY=

# 对话模型 ID
# CHAT_MODEL=qwen-plus
# CHAT_BASE_URL=
CHAT_API_KEY=
